
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>eSporty Shoes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
</head>
<body>
 <div>
 		<hr>

        <a th:href="@{/viewProducts}" class="btn btn-info col-2"> Products</a>
        
        <hr>

        <a th:href="@{/viewCustomers}" class="btn btn-info col-2"> Customers</a>
        
        <hr>

        <a th:href="@{/viewPurchases}" class="btn btn-info col-2"> Purchase Report</a>
        
        <hr>

        <a th:href="@{/logout}" class="btn btn-info col-2"> Logout</a>

		
       </div> 

</body>
</html>